.about-section {
  padding: 94px 0;
  &__icon-box {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    text-align: center;
    padding: 25px 100px;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-font-color);
  }
  &__list {
    display: flex;
  }

  &__item {
    max-width: 270px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}
