.footer {
  background-color: var(--second-background-color);
  padding-bottom: 60px;
  padding-top: 60px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
    }
    @media screen and (min-width: 1200px) {
      justify-content: flex-start;
    }
  }
  &__adress-wrap {
    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
  }
  &__logo--white {
    color: var(--white-font-color);
  }

  &__logo {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__location-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-font-color);
  }

  &__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &__item {
    text-align: center;
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__social-link-wrap {
    // @extend %flexCenter;
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }

  &__title {
    color: var(--white-font-color);
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__social-link {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-font-color);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 60px;
  }
  &__svg {
    fill: currentColor;
  }

  &__social-link:hover,
  &__social-link:focus {
    background-color: var(--brand-color);
  }

  &__input {
    display: block;
    @extend %flexCenter;
    background-color: transparent;
    width: 90vw;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    // display: flex;
    // align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    margin: 0px auto 20px auto;
    @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
      margin: 0px 12px 0px 0px;
    }
  }
  &__input-container {
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &-button-container {
    margin: auto 0 auto 12px;
  }

  &-icon {
    margin-left: 10px;
    fill: var(--white-font-color);
  }
}
