.ourteam-section {
  background-color: #f5f4fa;
  padding: 94px 0;
  &__main-title {
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item {
    background: var(--white-font-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 30px;
  }

  &__bottom-wrap {
    margin-top: 30px;
    margin-bottom: 16px;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-font-color);
  }
}
