body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-font-color);
  margin: 0 auto;
}
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  padding: 6px 22px;
}

input,
textarea {
  outline: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
