.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: auto;
  background-color: var(--white-font-color);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;

  &__button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: white;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__button:hover &__close-icon {
    fill: var(--brand-color);
  }
  &__input-container {
    display: flex;
    flex-direction: column;
  }

  .modal__input-wraper {
    position: relative;
  }

  &__title-text {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-font-color);
    margin-bottom: 12px;
  }
  &__input-box {
    padding: 12px 12px 12px 42px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 40px;
  }
  &__text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--second-font-color);
    margin-bottom: 4px;
    display: block;
  }
  &__icon {
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(50%);
  }

  &__input-box:focus + .modal__icon {
    fill: var(--brand-color);
  }
  &__textarea {
    resize: none;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    padding: 12px 15px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }

  &__textarea[placeholder] {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    box-sizing: border-box;

    color: rgba(117, 117, 117, 0.5);
  }
  &__input-box:focus,
  &__textarea:focus {
    outline: none;
    border-color: var(--brand-color);
  }

  &__checkbox-container {
    display: flex;
    margin-bottom: 30px;
  }
  &__checkbox-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-font-color);
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  &__input-checkbox:checked + &__checkbox-text &__checkbox-wrap {
    background-color: var(--brand-color);
    border: none;
  }

  &__input-checkbox:checked + &__checkbox-text &__checkbox-icon {
    fill: var(--white-font-color);
  }

  &__checkbox-wrap {
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-font-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
  }
  &__checkbox-icon {
    fill: transparent;
  }
  &__checkbox-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--brand-color);
  }
}

// .modal__checkbox-text {
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: var(--second-font-color);
//   display: flex;
//   align-items: center;
//   margin: 0 auto;
// }
// .modal__input-checkbox:checked + .modal__checkbox-text .modal__checkbox-wrap {
//   background-color: var(--brand-color);
//   border: none;
// }

// .modal__input-checkbox:checked + .modal__checkbox-text .modal__checkbox-icon {
//   fill: var(--white-font-color);
// }

// .modal__checkbox-wrap {
//   width: 16px;
//   height: 15px;
//   border: 2px solid var(--main-font-color);
//   border-radius: 4px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-right: 7px;
// }
// .modal__checkbox-icon {
//   fill: transparent;
// }
// .modal__checkbox-link {
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   text-decoration-line: underline;
//   color: var(--brand-color);
// }
